body {
  background: #9a8c98;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
  text-align: center;
}

h1 {
  color: #f2e9e4;
  font-size: 48px;
}

img {
  border-radius: 50%;
}
